<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>Add restaurants</h1>

  <form action = "/addrestaurant" method = "post">
    <p>Enter restaurant information:</p>
    <p>Restaurant Name <input type = "text" name = "nm" /></p>
    <p>Opening Time    <input type = "text" name = "op" /></p>
    <p>Closing Time    <input type = "text" name = "ct" /></p>
    <p>Cuisine         <input type = "text" name = "cat" /></p>
    <p>Waiting Time    <input type = "text" name = "wt" /></p>
    <p>Price           <input type = "text" name = "pr" /></p>

    <p><input type = "submit" value = "submit" /></p>
  </form>

</body>


</html>